* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

/*------------------------ HOME PAGE -------------- */

header {
    background-image: url('images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(10,10,10,0.3);
}

nav {
       position: absolute;
       z-index: 2;
       top: 0;
       left: 0;
       right: 0;
       padding: 50px 60px 0 60px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
}

nav li {
    list-style: none;
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor : pointer;
    text-decoration: none;
}

.container,
.products-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        padding-bottom: 100px;
}

.image {
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background: darkgrey;
    transition: all 0.3s easy-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

.newsletter {
    padding-left: 20px;
}

.newsletter-top {
    padding-bottom: 10px;
}

.newsletter-bottom {
    text-align: left;
    /* padding-bottom: 10px; */
}

/* ------------ Style the tab content ----------------- */

  .tab h2 {
    text-align: center;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .description {
      text-align: center;
  }

  .tab-title1,
  .tab-title2,
  .tab-title3,
  .tab-title4 {
    text-align: center;
}

/* ------------ Style the image gallery ----------------- */

.container-gallery {
    max-width: 760px;
    margin: auto;
    border:black solid 3px;
    background: royalblue;
}
.main-img {
    height: auto;
}

.main-img img,
.imgs img {
    width: 100%;
}

.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
/* Fade in animation */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/*------------------- Camp de e-mail ----------------------*/

li {list-style-type: none;
    font-size: 16pt;
    }
    .mail {
  /*  margin: auto; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 807px;
    background : 
    #D8F1F8;
    border: 1px soild 
    silver;
    }
    .mail h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    } 
    input {
    font-size: 20pt;
    }
    input:focus, textarea:focus{
    background-color: 
    lightyellow;
    }
    input submit {
    font-size: 12pt;
    }
    .rq {
    color: 
    #FF0000;
    font-size: 10pt;
    }

/*------------------------ CART PAGE -------------- */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
  
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
 
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

footer {
    height: auto;
    padding: 20px;
    color: white;
    text-align: center;
    background:darkblue;
}




